* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial;
    background-color: rgba(118, 190, 203, 0.68);
}

.awardmain {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2%; */
    background-color: rgba(121, 191, 203, 0.68);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100vw;
}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    margin:10px;
   transition-duration: 0.9s;
}




.image img {
    width:100%;
    height: 250px;
    /* height:60%; */

    /* height: 60%; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;



}


.title {

    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 20px;
}

.des {
    padding: 3px;
    text-align: center;

    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}
