body{
    background-color: rgba(118, 190, 203, 0.68);
}
#header{
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
}
.card .team_details h2{
    color:black;
}
.card .team_details h6{
    color:black;
}

